body{
 padding-left:100px;
 padding-right:100px;
 background-color: lightgrey;
 /*background-color:rgba(31, 31, 80, 0.007);*/
}

h1, h2, {
 font-family: "Times New Roman", Times, serif;
 height:25px;
 text-align: center;
}
p {
 font-family: "Times New Roman", Times, serif;
 font-size: 16px;
 margin:10px;
}
img {
  padding:1px;
  background-color: grey;
}
/* styles links*/

.ink {
 background-color: white;
}

.ink a:hover {
background:red;
}

.ink a {
decoration:none;
}

footer {
 text-align:center;
}

 
