body {
background-color: e5e5e5;
}
.font {
font-family: "Comic Sans MS", cursive, sans-serif;
}

.img-contaniner {
border-color: 14213d;
border-size: 40px;
padding: 40px40px40px40px;
margin: 40px40px40px40px;
}

.uderlined{
text-decoration: underline;
}

.git-hub {
  https://github.com/stevenrawle14/StevensProfileCard
}

.slack {

}
.left-align {
  text-align:left;
}
